<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloSearchResultsController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0ABC05C1D9D095400AE66AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0ABC0701D9D095500AE66AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0ABC07B1D9D095500AE66AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
